<!DOCTYPE html>
  <html>
    <head>
      <title><%= title %></title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
      <%- include ('menu.ejs') %>
      <% if (entries.length === 0 ) { %>
        <h2 style="color: cornflowerblue;">There is no post data yet.</h2>
      <% } %>
      <% entries.forEach((entry) => { %>
        <div class='entry'>
          <h3><%= entry.title %></h3>
          <p><%= entry.body %></p>
          <p>Posted by <%= entry.username %></p>
        </div>
      <% }) %>
    </body>
  </html>
</html>

